.stage {
	background-image: url("/images/backdrop.png");
	position: absolute;
	width: 512px;
	height: 480px;
	left: 50%; top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#coins {
	position: absolute;
	left: 285px;
	top: 263px;	
}
#lifes {
	position: absolute;
	left: 366px;
	top: 343px;
}
.slot {
	background-image: url("../images/smb2_various_sheet.png");
	background-size: 900px 910px;
	display: block;
	background-color: #fff;
	width: 56px;
	height: 56px;
}

#slot0 {
	position: absolute;
	left: 164px;
	top: 180px;
}

#slot1 {
	position: absolute;
	left: 228px;
	top: 180px;
}

#slot2 {
	position: absolute;
	left: 292px;
	top: 180px;
}


#slot0 {
	-webkit-animation-iteration-count: 4;
}

#slot1 {
	-webkit-animation-iteration-count: 7;
}

#slot2 {
	-webkit-animation-iteration-count: 10;
}

.slot-cherry {
	background-position: -482px -468px;
}

.slot-star{
	background-position: -302px -468px;
}

.slot-enemy {
	background-position: -362px -468px;
}

.slot-vegy {
	background-position: -422px -468px;
}

.animate {
    animation: toCherry 1s steps(1);
}



@keyframes toCherry {
  0% {
  	background-position: -422px -468px;
  }
  10% {
	background-position: -362px -468px;
  }
  20% {
	background-position: -302px -468px;
  }
  30% {
	background-position: -482px -468px;
  }
  40% {
	background-position: -422px -468px;
  }
  50% {
  	background-position: -362px -468px;
  }
  60% {
  	background-position: -302px -468px;
  }
  70% {
  	background-position: -482px -468px;
  }
  80% {
  	ackground-position: -422px -468px;
  }
  90% {
  	background-position: -362px -468px;
  }
  100% {
    background-position: -482px -468px;
  }
}

@keyframes anni2 {
  0% {
  	background-position: -422px -468px;
  }
  10% {
	background-position: -362px -468px;
  }
  20% {
	background-position: -302px -468px;
  }
  30% {
	background-position: -482px -468px;
  }
  40% {
	background-position: -422px -468px;
  }
  50% {
  	background-position: -362px -468px;
  }
  60% {
  	background-position: -302px -468px;
  }
  70% {
  	background-position: -482px -468px;
  }
  80% {
  	ackground-position: -422px -468px;
  }
  90% {
  	background-position: -362px -468px;
  }
  100% {
    background-position: -482px -468px;
  }
}