$bgColor: rgb(154, 78, 0);

@import "fonts";
@import "reset";
@import "stage";

body {
    background: $bgColor;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    margin: 0;
}

@font-face {
	font-family: 'SuperMarioFont';
		src: url('../assets/super-mario-bros--3-webfont.eot'); /* IE9 Compat Modes */
		src: url('../assets/super-mario-bros--3-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	     	url('../assets/super-mario-bros--3-webfont.woff') format('woff'), /* Modern Browsers */
	     	url('../assets/super-mario-bros--3-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
	     	url('../assets/super-mario-bros--3-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

.MarioFont {
	font-family: 'SuperMarioFont', Fallback, sans-serif;
	font-size: 24px;
	line-height: 1em;
	background-color: #000;
	color: #fff;
}